<div class="container-fluid">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        Task App
      </a>
    </div>

    <form action="/dashboard/search" method="post" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
      <input type="search" name="searchTerm" class="form-control border-primary" placeholder="Search..." aria-label="Search">
    </form>

    <div class="col-md-3 text-end">
      <a href="/logout" class="btn btn-primary">Log Out</a>
    </div>
  </header>
</div>