<!-- <h1>Hello World</h1>
<a href="/auth/google">auth with Google</a> -->

<div class="container container-fluid mb-5 py-md-5">
  <div class="row py-md-5 mb-5 text-center justify-content-center">
    <div class="col col-md-12 col-lg-6 mb-md-0  mb-5">
      <h1 class="display-2 fw-bold mb-4">Remember to write tasks when you need </h1>

      <p class="fs-4 mb-4">
        Tasks is a simple to use free note taking app made with Node Js,Ejs & MongoDB
      </p>
      <a href="/auth/google" class="btn btn-primary"> Try it's free</a>
    </div>
  </div>
</div>